<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>

    <style>
        .headerPage{
            display: flex;
            justify-content: space-between;
        }

        .navPage{
            display: flex;
            justify-content: space-between;

        }
    </style>
</head>
<body>
<header>
    <div>
        <h1 class="headerPage">
            Daniel Granja
        </h1>
        <nav class="navPage">

        </nav>
    </div>
</header>

<main>...</main>
<footer>...</footer>

</body>
</html>